.container1{
    display: flex;
    height: 100px;
    width: 100%;
}
.container2{
    display: flex;
    justify-content: right;
    height: 100px;
    width: 100%;
}
.container3{
    justify-content: center;
    display: flex;
    height: 100px;
    width: 100%;
}
.container4{
    justify-content: space-between;
    display: flex;
    height: 100px;
    width: 100%;
}
.container5{
    justify-content: space-around;
    display: flex;
    height: 100px;
    width: 100%;
}
.container6{
    justify-content: space-evenly;
    display: flex;
    height: 100px;
    width: 100%;
}

.container7{

   align-items: center;
    display: flex;
    height: 100px;
    width: 100%;
}

.div1{
    align-items: center;
    display: flex;
    background-color: rgb(152, 152, 250);
    width: 100px;
    height: 100px;
    justify-content: center;
}
.div2{
    align-items: center;
    display: flex;
    background-color: rgb(3, 3, 167);
    width: 100px;
    height: 100px;
    justify-content: center;
}
.div3{
    align-items: center;
    display: flex;
    background-color: rgb(138, 18, 38);
    width: 100px;
    height: 100px;
    justify-content: center;
}
.div4{
    align-items: center;
    display: flex;
    background-color: orange;
    width: 100px;
    height: 100px;
    justify-content: center;
}
